extends layout

block content
    h1=title

    div.loader
    p You've just contributed #[strong #{transaction.xlm} XLMs] and get back #[strong #{transaction.xlm / 10} Wpay] tokens.
    a.btn.btn-primary(href=transaction.home) Buy more tokens