extends layout

block content
    script.
        var transaction_id;
        $(document).ready(function(){
            
        })
        function registerTransaction(e) {
            $('#loading').show();
            e.preventDefault();
            $.ajax({url:$('#apiUrl').val() + '/api/register', 
                type: 'post',
                data: $('#registerForm').serialize(),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                dataType: 'json',
                success: function(data) {
                    $('#loading').hide();
                    if(data.code == 200) {
                        $('#title').html(data.message);
                        $('#message').html("You made the transaction successfully. Go to see the transaction detail.");
                        $('#modal_button').html('See detail');
                        $('#myModal').modal('show');
                        transaction_id = data.transaction_id;
                    } else {
                        alert(data.message);
                    } 
                }
            });
        }
        function gotoDetail() {
            window.location.replace($('#apiUrl').val() + '/register/' + transaction_id);
        }
    div#loading.loading(hidden='true')

    h1=title

    form#registerForm
        div.form-group
            label(for='secret_key') Secret key:
            input.form-control(type='text', placeholder='0xaaaaaa' name='secret_key')
        div.form-group
            label(for='xlm') XLM:
            input.form-control(type='number', placeholder='200' name='xlm' value=(undefined===xlm?'':xlm) )
        div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', name='email')
        div.form-group
            label(for='name') Name:
            input.form-control(type='text', name='name' )
        div.form-group
            label(for='date_of_birth') Date of birth:
            input.form-control(type='date', name='date_of_birth')
            input#apiUrl.form-control(type='hidden', name='',value=apiUrl)
        .form-group
            label(for='phone_number') Phone number:
            input.form-control(type='number' name='phone_number' placeholder='+84984217085')
        button.btn.btn-primary(return onclick='registerTransaction(event)') Buy Tokens
    #myModal.modal.fade(role="dialog")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal") ×
                    h4#title.modal-title Modal Header
                .modal-body
                    p#message Some text in the modal.
                .modal-footer
                    button#modal_button.btn.btn-default(type="button" data-dismiss="modal" onclick="gotoDetail()") Close